<!DOCTYPE html>
<html
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/auth}">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Forgot Password</title>
	</head>
	<body class="body-auth">
		<div
			class="d-flex mt-5 justify-content-center rounded-pill"
			layout:fragment="content">
			<div class="card border-secondary border-3">
				<div class="card-header text-center text-light fw-bold fs-3">
					Forgot Password
				</div>
				<div class="card-body bg-light-subtle">
					<div class="row">
						<!-- Username -->
						<div class="form-group">
							<label class="form-label fw-bold fs-5"> Username </label>
							<input
								type="text"
								class="form-control mb-3"
								id="username"
								required />
						</div>

						<!-- New Password -->
						<div class="form-group">
							<label class="form-label fw-bold fs-5"> New Password </label>
							<input
								type="password"
								class="form-control mb-3"
								id="new-password"
								required />
						</div>

						<!-- Show/Hide Password -->
						<div>
							<input
								name="current"
								class="mt-auto mb-3"
								type="checkbox"
								onclick="showNewPassword()" />
							Show Password
						</div>

						<!-- Repeat New Password -->
						<div class="form-group">
							<label class="form-label fw-bold fs-5">
								Repeat New Password
							</label>
							<input
								type="password"
								class="form-control mb-2"
								id="repeat-new-password"
								required />
						</div>

						<!-- Show/Hide Password -->
						<div>
							<input
								name="repeat"
								class="mt-auto"
								type="checkbox"
								onclick="showRepeatNewPassword()" />
							Show Password
						</div>
					</div>

					<!-- Button Update -->
					<div class="d-flex mt-3">
						<button
							type="button"
							class="btn btn-primary text-light fw-bold fs-5 w-100"
							id="forgot-password">
							Update
						</button>
					</div>
				</div>

				<!-- Direct to Login -->
				<div class="card-footer text-center text-secondary text-light">
					<span
						>Remember your password?
						<a
							th:href="@{/auth/login}"
							class="text-decoration-none fw-bold text-light"
							>Log in here!
						</a>
					</span>
				</div>
			</div>
		</div>

		<div layout:fragment="script">
			<script src="/js/forgotPW.js"></script>
		</div>
	</body>
</html>
