<!DOCTYPE html>
<html
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/auth}">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Registration</title>
	</head>
	<body class="body-auth">
		<section class="registration d-flex vh-100" layout:fragment="content">
			<!-- Registration Form -->
			<div class="registration-left w-100 h-100">
				<div class="row justify-content-center align-content-center h-100">
					<div class="col-6">
						<div class="header">
							<p class="fs-4 fw-bold">
								<img
									src="https://cdn-icons-png.flaticon.com/128/1985/1985836.png"
									alt="Star"
									width="50px" />
								Star Syndrome
							</p>
							<h1 class="fw-bold fs-2">Register</h1>
							<p class="fs-5 text-secondary mb-lg-4">
								Kindly fill in this form to register.
							</p>
						</div>
						<form>
							<div class="registration-form">
								<!-- Name -->
								<div class="input-group mb-lg-4">
									<span
										class="input-group-text border border-dark bg-light fw-bold"
										id="inputGroup-sizing-default"
										>Name
									</span>
									<input
										type="text"
										class="form-control border border-dark"
										placeholder="Enter your name"
										id="regist-name"
										minlength="1"
										maxlength="50"
										required />
								</div>

								<!-- Email -->
								<div class="input-group mb-lg-4">
									<span
										class="input-group-text border border-dark bg-light fw-bold"
										id="inputGroup-sizing-default"
										>Email
									</span>
									<input
										type="email"
										class="form-control border border-dark"
										id="regist-email"
										placeholder="Enter your email"
										required />
								</div>

								<!-- Phone -->
								<div class="input-group mb-lg-4">
									<span
										class="input-group-text border border-dark bg-light fw-bold"
										id="inputGroup-sizing-default"
										>Phone
									</span>
									<input
										type="text"
										class="form-control border border-dark"
										id="regist-phone"
										placeholder="Enter your phone number"
										maxlength="13"
										required />
								</div>

								<!-- Username -->
								<div class="input-group mb-lg-4">
									<span
										class="input-group-text border border-dark bg-light fw-bold"
										id="inputGroup-sizing-default"
										>Username
									</span>
									<input
										type="text"
										class="form-control border border-dark"
										id="regist-username"
										placeholder="Enter your username"
										required />
								</div>

								<!-- Password -->
								<div class="input-group mb-lg-2">
									<span
										class="input-group-text border border-dark bg-light fw-bold"
										id="inputGroup-sizing-default"
										>Password
									</span>
									<input
										type="password"
										class="form-control border border-dark"
										id="regist-password"
										placeholder="Enter your password"
										required />
								</div>

								<!-- Show/Hide Password -->
								<div>
									<input
										class="mt-2 mb-2"
										type="checkbox"
										onclick="showPassword()" />
									Show password
								</div>

								<!-- Button Register -->
								<div class="d-flex justify-content-center mt-3">
									<button
										id="register-button"
										class="btn btn-dark w-100"
										type="submit">
										Register
									</button>
								</div>

								<!-- Direct to Register -->
								<div class="text-center text-secondary mt-3">
									<span
										>Already have an account?
										<a
											th:href="@{/auth/login}"
											class="text-decoration-none fw-bold text-secondary"
											>Log in here!
										</a>
									</span>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>

			<!-- Carousel -->
			<div
				class="registration-right w-50 h-100 d-flex justify-content-start align-items-center">
				<div
					id="carouselExampleSlidesOnly"
					class="carousel slide"
					data-bs-ride="carousel">
					<div class="carousel-inner">
						<div class="carousel-item active">
							<img
								src="https://cdn-icons-png.flaticon.com/256/4968/4968477.png"
								class="d-block"
								alt="Logo1" />
						</div>
						<div class="carousel-item">
							<img
								src="https://cdn-icons-png.flaticon.com/256/7504/7504051.png"
								class="d-block"
								alt="Logo2" />
						</div>
						<div class="carousel-item">
							<img
								src="https://cdn-icons-png.flaticon.com/256/11482/11482692.png"
								class="d-block"
								alt="Logo3" />
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- JS -->
		<div layout:fragment="script">
			<script src="/js/register.js"></script>
		</div>
	</body>
</html>
