<!DOCTYPE html>
<html 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/main}"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Region</title>
</head>
<body>
    <!-- Manage Regions -->
    <div
    class="container bg-light pb-3 border border-dark border-3 rounded-5 mt-5"
    layout:fragment="content">
        <div class="d-flex flex-wrap m-3 p-3 justify-content-between">
            <h3>Manage Regions</h3>
            <!-- Button trigger modal create -->
            <button
                type="button"
                class="btn btn-success"
                data-bs-toggle="modal"
                data-bs-target="#create">
                Add Region
            </button>
        </div>
            <div class="container">    
                <table
                    class="table table-bordered table-striped table-hover text-center table-light"
                    id="table-region">
                    <thead class="table-primary text-center">
                        <tr>
                            <th scope="col-2">NO</th>
                            <th scope="col-4">NAME</th>
                            <th scope="col-6">ACTIONS</th>
                        </tr>
                    </thead>
                </table>
            </div>

    <!-- Modal Create -->
    <div
        class="modal fade"
        id="create"
        data-bs-backdrop="static"
        data-bs-keyboard="false"
        tabindex="-1"
        aria-labelledby="createLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content border border-dark border-3 rounded-3">
                <div class="modal-header fw-bold fs-2 border-bottom border-3 border-dark">
                    <h1 class="modal-title fs-5 fw-bold" id="createLabel">
                    Create of Region</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form>
                    <div class="modal-body">
                        <!-- Region Name -->
                        <div class="input-group m-auto">
                            <span
                                class="input-group-text border border-dark bg-light fw-bold"
                                id="inputGroup-sizing-default">
                                Region Name</span>
                            <input
                                type="text"
                                class="form-control border border-dark"
                                aria-label="Sizing example input"
                                aria-describedby="inputGroup-sizing-default"
                                id="create-name"
                                required>
                        </div>
                    </div>
                        <div class="modal-footer border-top border-3 border-dark">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" id="create-region">Save</button>
                        </div>
                </form>
            </div>
        </div>
    </div>
    
    <!-- Modal Details -->
    <div
        class="modal fade"
        id="details"
        data-bs-backdrop="static"
        data-bs-keyboard="false"
        tabindex="-1"
        aria-labelledby="detailsLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content border border-dark border-3 rounded-3 bg-secondary">
                <div class="modal-header fw-bold fs-2 border-bottom border-3 border-dark">
                    <h1 class="modal-title fs-5 fw-bold" id="detailsLabel">
                    Details of Region</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                    <div class="modal-body">
                        <!-- Region ID -->
                        <div class="input-group mb-3">
                            <span
                                class="input-group-text border border-dark bg-light fw-bold"
                                id="inputGroup-sizing-default">
                                Region ID</span>
                            <input
                                type="text"
                                class="form-control border border-dark"
                                aria-label="Sizing example input"
                                aria-describedby="inputGroup-sizing-default"
                                id="details-id"
                                disabled>
                        </div>

                        <!-- Region Name -->
                        <div class="input-group m-auto">
                            <span
                                class="input-group-text border border-dark bg-light fw-bold"
                                id="inputGroup-sizing-default">
                                Region Name</span>
                            <input
                                type="text"
                                class="form-control border border-dark"
                                aria-label="Sizing example input"
                                aria-describedby="inputGroup-sizing-default"
                                id="details-name"
                                disabled>
                        </div>
                    </div>
                    <div class="modal-footer border-top border-3 border-dark">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
            </div>
        </div>
    </div>

    <!-- Modal Update -->
    <div
        class="modal fade"
        id="update"
        data-bs-backdrop="static"
        data-bs-keyboard="false"
        tabindex="-1"
        aria-labelledby="updateLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content border border-dark border-3 rounded-3">
                <div class="modal-header fw-bold fs-2 border-bottom border-3 border-dark">
                    <h1 class="modal-title fs-5 fw-bold" id="updateLabel">
                    Update of Region</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form>
                    <div class="modal-body">
                        <!-- Region ID -->
                        <input type="hidden" id="update-id" disabled>

                        <!-- Region Name -->
                        <div class="input-group m-auto">
                            <span
                                class="input-group-text border border-dark bg-light fw-bold"
                                id="inputGroup-sizing-default">
                                Region Name</span>
                            <input
                                type="text"
                                class="form-control border border-dark"
                                aria-label="Sizing example input"
                                aria-describedby="inputGroup-sizing-default"
                                id="update-name"
                                required>
                        </div>
                    </div>
                        <div class="modal-footer border-top border-3 border-dark">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" id="update-region">Save</button>
                        </div>
                </form>
            </div>
        </div>
    </div>

    </div>
    <!-- JS -->
    <div layout:fragment="script">
        <script src="/js/region.js"></script>
    </div>
</body>
</html>