@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

* {
	font-family: "Plus Jakarta Sans", sans-serif;
}

body {
	background-image: radial-gradient(
		circle,
		rgba(255, 255, 255, 1) 0%,
		rgba(153, 202, 251, 1) 100.2%
	);
}

.body-auth {
	background-image: radial-gradient(
		circle,
		rgba(169, 194, 227, 1) 15%,
		rgba(255, 247, 205, 1) 85%
	);
}

.navbar {
	background-image: linear-gradient(to bottom, #a3bded 0%, #6991c7 100%);
}

.card {
	width: 50rem;
}

.modal-content {
	background-image: radial-gradient(
		circle,
		rgba(126, 63, 251, 1) 0%,
		rgba(70, 252, 226, 1) 100%
	);
}

.nav-profile,
.card-footer,
.card-header {
	background-image: radial-gradient(
		circle,
		rgba(126, 63, 251, 1) 0%,
		rgba(70, 252, 226, 1) 100%
	);
}
