<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<div class="container">
			<h3>Welcome</h3>
			<p>This is the home page</p>
			<div class="text-center text-secondary mt-3">
				<span
					>Already have an account?
					<a
						th:href="@{/auth/login}"
						class="text-decoration-none fw-bold text-secondary"
						>Log in here!
					</a>
				</span>
			</div>
		</div>
	</body>
</html>
