<!DOCTYPE html>
<html 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/main}"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Country</title>
</head>
<body>
    <!-- Card -->
    <div class="container mt-5 d-flex justify-content-center" layout:fragment="content">
        <div class="card text-center border border-dark border-3 rounded-3">
            <div class="card-header fw-bold border-bottom border-3 border-dark">
                <h3 class="m-auto fw-bold">Updating a Country</h3>
            </div>
                <div class="card-body">
                    <form
                        th:action="@{/country/{id} (id=${country.id})}"
                        th:method="PUT"
                        th:object="${country}">
                        <div class="d-flex flex-wrap m-auto">
                            <!-- Country Code -->
                            <div class="input-group mb-3">
                                <span
                                    class="input-group-text border border-dark bg-light fw-bold"
                                    id="inputGroup-sizing-default">
                                    Country Code
                                </span>
                                <input
                                    type="text"
                                    class="form-control border border-dark"
                                    th:field="*{code}">
                            </div>
    
                            <!-- Country Name -->
                            <div class="input-group mb-3">
                                <span
                                    class="input-group-text border border-dark bg-light fw-bold"
                                    id="inputGroup-sizing-default">
                                    Country Name
                                </span>
                                <input
                                    type="text"
                                    class="form-control border border-dark"
                                    aria-label="Sizing example input"
                                    aria-describedby="inputGroup-sizing-default"
                                    th:field="*{name}">
                            </div> 
                        </div>
                            <div class="d-flex gap-3">
                                <a href="/country" class="btn btn-secondary">Back</a>
                                <button type="submit" class="btn btn-info">Update</button>
                            </div>
                    </form>
                </div>
        </div>
    </div>
</body>
</html>